<body class = "bg1"> 
<div class="time"><p><%= Time.zone.now.strftime("%l:%M %p") %></p></div>
<div class="greeting"><p>Hello, Manager!</p></div>

<table align="center">
<tr>
    <td class="index_buttons_table"><%= link_to "Customers", customers_path, class: 'btn btn-default btn-sm' %></td>
    <td class="index_buttons_table"><%= link_to "Orders", orders_path, class: 'btn btn-default btn-sm' %></td>
    <td class="index_buttons_table"><%= link_to "Products", products_path, class: 'btn btn-default btn-sm' %></td><!-- nag-eerror siya pag ginawa ko siyang button hUHUHU -->
    </tr>
</table>
</body>