<html>
<head>
  
</head>  

<body class = "bg"> 
<br/>
<div class="container">
<div class="border-form-div"> <!-- col-md-12-->
<img src = "https://78.media.tumblr.com/8c48b56225275b3f2b97d60a2a5c1f53/tumblr_p8d78pze6S1w4edkko1_1280.png", class="logo">
 
          <center><%= button_to "Log in as Admin", new_admin_session_path, :class => "adminlogin" %></center>
          <center><button class ="sstafflogin">Log in as Sales Staff</button></center>
          <center><button class ="istafflogin">Log in as Inventory Staff</button></center>
</div>
<footer>
<div class="copyright col-md-12"><p><center>Copyright © 2018 Milestone Corporation</center></p></div>
</div>
</footer>
</body>
</html>
