
<td>
  <%= object.name %>
</td>
<td>
  <%= object.company %>
</td>
<td>
  <%= object.phone %>
</td>
<td>
  <%= object.email %>
</td>
<td>
  <%= object.home_address %>
</td>
<td>
  <%= object.status %>
</td>
<td>
  <%= object.is_loyal %>
</td>
<td class="actions">
  <%= smart_listing_item_actions [
      { name: :custom, url: switch_customer_path(object), icon: "glyphicon glyphicon-ok-sign", method: :put, remote: true },
      { name: :edit, url: edit_customer_path(object), icon: "glyphicon glyphicon-pencil", method: :get, remote: true }
    ] %>
  <%#= smart_listing_item_actions [ {name:   :custom,  %>
  <!--url:  status_switch_customer_path(u),   method: :put, -->
  <!--icon: "glyphicon glyphicon-credit-card", remote: true, -->
  <!--if:   !object.status?,              title:  "Active"},-->
</td>

  <%#= smart_listing_item_actions [ {name:   :custom,  %>
  <!--url:  is_loyal_switch_customer_path(u),   method: :put, -->
  <!--icon: "glyphicon glyphicon-credit-card", remote: true, -->
  <!--if:   !object.is_loyal?,              title:  "Loyal"},-->