<td colspan="9">
  <%= form_for object, url: object.new_record? ? customers_path : customer_path(object),  
    remote: true, html: {class: "form-horizontal"} do |f| %>
    <label>Name:</label>
    <%= f.text_field :name, required: true  %>
    <br>
           
    <label>Company:</label>
    <%= f.text_field :company, required: true  %> 
    <br>
    
    <label>Phone:</label>
    <%= f.text_field :phone, required: true  %> 
    <br>
    
    <label>Email:</label>
    <%= f.text_field :email, required: true  %> 
    <br>
    
    <label>Home address:</label>
    <%= f.text_field :home_address, required: true  %> 
    <br>
    
    <%= f.label "Active customer?" %> 
    <%= f.check_box :status %> <br />
    
    <%= f.label "Loyal customer?" %> 
    <%= f.check_box :is_loyal %> 
    
    <br><br>
    <%= f.submit "Save", class: "btn btn-primary" %>
      <button class="btn btn-link cancel">Cancel</button>
  <% end %>
</td>