<% unless smart_listing.empty? %>
  <table id="customer" class="table table-striped">
    <thead>
      <th class="col-md-2">
        <%= smart_listing.sortable "Name", "name" %>
      </th>
      <th class="col-md-2">
        <%= "Company" %>
      </th>
      <th class="col-md-2">
        <%= "Phone" %>
      </th>
      <th class="col-md-2">
        <%= "Email" %>
      </th>
      <th class="col-md-2">
        <%= "Home Address" %>
      </th>
      <!--<th>-->
      <!--  <span class="glyphicon glyphicon-shopping-cart" title="Is active?"></span>-->
      <!--</th>-->
      <th class="col-md-1">
        <%= smart_listing.sortable "Active?", "status" %>
      </th>
      <!--<th>-->
      <!--  <span class="glyphicon glyphicon-shopping-cart" title="Is loyal?"></span>-->
      <!--</th>-->
      <th class="col-md-1">
        <%= smart_listing.sortable "Is_loyal", "is_loyal" %>
      </th>
    </thead>
    <tbody>
      <% smart_listing.collection.each do |o| %>
        <tr class="editable" data-id="<%= o.id %>">
          <%= smart_listing.render object: o, partial: "customers/customer", locals: {object: o} %>
        </tr>
      <% end %>
      <%= smart_listing.item_new colspan: 9, link: new_customer_path %>
    </tbody>
  </table>
  <%= smart_listing.paginate %>
  <%= smart_listing.pagination_per_page_links %>
<% else %>
  <p class="warning">No records!</p>
<% end %>
