<%= simple_form_for @order do |order| %>

    <div class="row">
        <div class="col-md-8">
            <!-- Customer -->
            <div class="form-group">
                <label>Customer</label>
                <%= 
                    order.select :customer_id, @customer_opts,
                        { label_method: :first, value_method: :last },
                        { class: 'form-control' }
                %>
            </div>
        </div>
        
        <div class="col-md-4">
            <!-- Order date -->
            <%= order.input :order_date, as: :date, html5: true %>
        </div>
    </div>
    
    <!-- Order lines -->
    <div class="form-group">
        <label>Products</label>
        <table class="table" id="table-orderLines">
            <thead>
                <th>Product</th>
                <th>Qty.</th>
                <th>Discount Rate</th>
                <th>Status</th>
                <th>Date for status</th>
                <th></th>
            </thead>
            <tbody>
                <%= order.simple_fields_for :order_lines do |order_line| %>
                    <%= render 'order_line_fields', order_line: order_line %>
                <% end %>
            </tbody>
        </table>
        <%=
            link_to_add_association '+ Add Product', order, :order_lines,
            form_name: 'order_line',
            data: {
                'association-insertion-node': '#table-orderLines tbody',
                'association-insertion-method': 'append'
            }
        %>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <!-- Payment due date -->
            <%= order.input :payment_due_date, as: :date, html5: true %>
        </div>
        <div class="col-md-3">
            <!-- Discount rate -->
            <%= order.input :discount_rate, as: :decimal %>
        </div>
        <div class="col-md-3">
            <!-- Status -->
            <div class="form-group">
                <label>Status</label>
                <%= 
                    order.select :status, @order_status_opts,
                        { label_method: :first, value_method: :first },
                        { class: 'form-control' }
                %>
            </div>
        </div>
    </div>
    
    
    
    <!-- Payments -->
    <div class="form-group">
        <label>Payments</label>
        <table class="table" id="table-payments">
            <thead>
                <th>Amount Paid</th>
                <th>Payment Type</th>
                <th>Date Paid</th>
                <th></th>
            </thead>
            <tbody>
                <%= order.simple_fields_for :payments do |payment| %>
                    <%= render 'payment_fields', payment: payment %>
                <% end %>
            </tbody>
        </table>
        <%=
            link_to_add_association '+ Add Payment', order, :payments,
            form_name: 'payment',
            data: {
                'association-insertion-node': '#table-payments tbody',
                'association-insertion-method': 'append'
            }
        %>
    </div>
    
    <div class="form-group">
        <%= order.submit 'Save', class: 'btn btn-primary' %>
        <%= link_to 'Cancel', orders_path, class: 'btn btn-default' %>
    </div>
    
<% end %>