<div class="action-bar">
    <div class="record-count-container">
        <h4><%= smart_listing.count %> record(s) found.</h4>
    </div>
    <div class="new-order-link-container">
        <%= link_to new_order_path, class: 'btn' do %>
            <i class="<%= smart_listing_config.classes(:icon_new) %>"></i>
            New
        <% end %>
    </div>
</div>

<% unless smart_listing.empty? %>
    <table class="table table-striped table-bordered">
        <thead>
            <th><%= smart_listing.sortable 'Invoice No.', :id %></th>
            <th><%= smart_listing.sortable 'Date', :order_date %></th>
            <th>Customer</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Note</th>
            <th></th>
        </thead>
        <tbody>
            <% smart_listing.collection.each do |order| %>
                <tr>
                    <td>
                        <%= order.id %>
                    </td>
                    <td>
                        <%= order.order_date %> <!-- strftime('%m/%d/%y') -->
                    </td>
                    <td>
                        <%= "#{order.customer.name} (#{order.customer.company})" %>
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            <% order.order_lines.each do |order_line| %>
                                <li><%= order_line.product.name %></li>
                            <% end %>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            <% order.order_lines.each do |order_line| %>
                                <li><%= order_line.quantity_of_product %></li>
                            <% end %>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            <% order.order_lines.each do |order_line| %>
                                <li>
                                    <% if order_line.status == 'Received' %>
                                        N/A
                                    <% else %>
                                        <span class="text-danger">
                                            <%= "#{order_line.status} (#{order_line.date_for_the_status})" %>
                                        </span>
                                    <% end %>
                                </li>
                            <% end %>
                        </ul>
                    </td>
                    <td>
                        <%= link_to 'Edit', edit_order_path(order) %>
                        <!-- &nbsp;&nbsp;|&nbsp;&nbsp; -->
                        <%#= link_to 'View', order_path(order) %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <%= smart_listing.paginate %>
<% else %>
    <p class="text-warning">No records!</p>
<% end %>