<tr class="order-line-item">
    <td>
        <%=
            order_line.select :product_id, @product_opts,
                { label_method: :first, value_method: :last },
                { class: 'form-control' }
        %>
    </td>
    <td>
        <%= 
            order_line.input :quantity_of_product,
                as: :integer, label: false, wrapper: false
        %>
    </td>
    <td>
        <%= 
            order_line.input :discount_rate,
                as: :decimal, label: false, wrapper: false
        %>
    </td>
    <td>
        <%=
            order_line.select :status, @order_line_status_opts,
                { label_method: :first, value_method: :last },
                { class: 'form-control' }
        %>
    </td>
    <td>
        <%= 
            order_line.input :date_for_the_status,
                as: :date, html5: true, label: false, wrapper: false
        %>
    </td>
    <td>
        <%= 
            link_to_remove_association 'Remove', order_line,
                wrapper_class: 'order-line-item',
                class: 'text-danger'
        %>
    </td>
</tr>