<tr class="order-line-item">
    <td>
        <%=
            orderline.select :product_id, @product_opts,
                { label_method: :first, value_method: :last },
                { class: 'form-control' }
        %>
    </td>
    <td>
        <%= 
            orderline.input :quantity_in_kg,
                as: :integer, label: false, wrapper: false
        %>
    </td>
    <td>
        <%= 
            orderline.input :discount_rate,
                as: :decimal, label: false, wrapper: false
        %>
    </td>
    <td>
        <%=
            orderline.select :status, @orderline_status_opts,
                { label_method: :first, value_method: :last },
                { class: 'form-control' }
        %>
    </td>
    <td>
        <%= 
            orderline.input :status_date,
                as: :date, html5: true, label: false, wrapper: false
        %>
    </td>
    <td>
        <%= 
            link_to_remove_association 'Remove', orderline,
                wrapper_class: 'order-line-item',
                class: 'text-danger'
        %>
    </td>
</tr>