<tr class="payment-item">
    <td>
        <%= 
            payment.input :amount_paid,
                as: :decimal, label: false, wrapper: false
        %>
    </td>
    <td>
        <%=
            payment.select :payment_type, @payment_type_opts,
                { label_method: :first, value_method: :last },
                { class: 'form-control' }
        %>
    </td>
    <td>
        <%= 
            payment.input :date_paid,
                as: :date, html5: true, label: false, wrapper: false
        %>
    </td>
    <td>
        <%= 
            link_to_remove_association 'Remove', payment,
                wrapper_class: 'payment-item',
                class: 'text-danger'
        %>
    </td>
</tr>