    <h1> <center>Orders Page</center><br/></h1>
<div class="filter-form-container">
    <%= form_tag( { controller: 'orders', action: 'index' }, { method: :get, enforce_utf8: false } ) do %>
        <div class="fields-container form-inline">
            <%= 
                select_tag :month,
                    options_for_select(
                        Date::MONTHNAMES.each_with_index.collect { |m, i| [ m.nil? ? 'Select month...' : m , i] },
                        @selected_month
                    ),
                    class: 'form-control',
                    onchange: <<-js
                        selectMonth = $(this.form).find('select[name="month"]');
                        selectYear = $(this.form).find('select[name="year"]');
                        if (selectMonth.val() != 0 && selectYear.val() != 0) this.form.submit();
                    js
            %>
            <%= 
                select_tag :year,
                    options_for_select(
                        [['Select year...', 0]] + Date.today.year.downto(2000).to_a,
                        @selected_year
                    ),
                    class: 'form-control',
                    onchange: <<-js
                        selectMonth = $(this.form).find('select[name="month"]');
                        selectYear = $(this.form).find('select[name="year"]');
                        if (selectMonth.val() != 0 && selectYear.val() != 0) this.form.submit();
                    js
            %>
        </div>
        <div class="info-container form-inline">
            <span class="filter-text-container">
                <% if @selected_month != 0 && @selected_year != 0 %>
                    Showing records within <strong><%= "#{Date::MONTHNAMES[@selected_month.to_i]} #{@selected_year}" %></strong>.
                    <%= link_to 'Clear filter', orders_path, class: 'btn-link clear-filter-link' %>
                <% else %>
                    Showing all records.
                    <%= 
                        link_to 'Go to current month & year', orders_path(month: Date.today.month, year: Date.today.year),
                            class: 'btn-link clear-filter-link'
                    %>
                <% end %>
            </span>
            
           
            <span class="orders-info-container">
                <span class="unpaid-orders-text text-info">
                    <strong>Unpaid orders: 0</strong>
                </span>
                <% if @selected_month != 0 && @selected_year != 0 %>
                    <span class="orders-done-within-month-text text-info">
                        <strong>Orders done within month: 0</strong>
                    </span>
                <% end %>
            </span>
        </div>
    <% end %>
</div>

<%= smart_listing_render :orders %>