<h3>View Order</h3>
<%= link_to '< Go back', orders_path, class: 'btn btn-link' %>
<div class="panel panel-default order-container">
    <div class="panel-body">
        <div class="company-info-container">
            <div class="company-logo-container">
                <img src = "https://78.media.tumblr.com/8c48b56225275b3f2b97d60a2a5c1f53/tumblr_p8d78pze6S1w4edkko1_1280.png">
            </div>
            <div class="company-text-container">
                <h5 class="company-name-text">RIGHT CATCH TRADING</h5>
                <div>
                    7/F Finman Bldg., 131 Tordesillas Street, Salcedo Village, Bel Air, Makati City<br>
                    Princess K. Lim – Proprietor<br>
                    NON VAT Reg. TIN 219-846-017-000
                </div>
            </div>
        </div>
        <div class="invoice-info-container">
            <span>SALES INVOICE</span>
            <span class="pull-right">NO. <%= @order.id %></span>
        </div>
        <div class="order-info-container">
            <div class="customer-details-container">
                <table>
                    <tbody>
                        <tr>
                            <td class="details-label" rowspan="4">Sold to:</td>
                            <td><%= @order.customer.name %></td>
                        </tr>
                        <tr>
                            <td><%= @order.customer.company %></td>
                        </tr>
                        <tr>
                            <td><%= @order.customer.home_address %></td>
                        </tr>
                        <tr>
                            <td><%= @order.customer.phone %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="payment-details-container">
                <table>
                    <tbody>
                        <tr>
                            <td>Issue date:</td>
                            <td><%= @order.order_date.strftime('%m/%d/%y') unless @order.order_date.nil? %></td>
                        </tr>
                        <tr>
                            <td>Due date:</td>
                            <td><%= @order.payment_due_date.strftime('%m/%d/%y') unless @order.payment_due_date.nil? %></td>
                        </tr>
                        <tr>
                            <td>Status:</td>
                            <td><%= @order.status %></td>
                        </tr>
                        <tr>
                            <td>Form of payment:</td>
                            <td><%= @order.payments.first.payment_type unless @order.payments.first.nil? %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="orderline-table-container">
            <table class="table table-bordered table-sm">
                <thead>
                    <th>Qty.</th>
                    <th>Unit</th>
                    <th>Items</th>
                    <th>Price</th>
                    <th>Discount</th>
                    <th>Amount</th>
                </thead>
                <tbody>
                    <% @order.order_lines.each do |orderline| %>
                        <tr class="orderline-item">
                            <td>
                                <%= orderline.quantity_of_product %>
                            </td>
                            
                            <td>
                                <%= orderline.product.name %>
                            </td>
                            <td>
                                <%= number_with_precision(orderline.product.base_price, precision: 2) %>
                            </td>
                            <td>
                                <%=
                                    number_with_precision(
                                        orderline.discount_rate,
                                        precision: 2
                                    )
                                %>
                                (<%= number_with_precision(orderline.discount_rate || 0, precision: 2) %>%)
                            </td>
                            <!--<td>
                                <%#= number_with_precision(@order.order_lines.total_amount || 0, precision: 2) %>
                            </td>-->
                        </tr>
                    <% end %>
                    <tr class="summary-row">
                        <td colspan="5">Total Amount</td>
                        <td>
                            <%= number_with_precision(@order.total_price, precision: 2) %>
                        </td>
                    </tr>
                    <tr class="summary-row">
                        <td colspan="5">Order Discount</td>
                        <td>
                            <%= number_with_precision(@order.total_discount_amount, precision: 2) %>
                        </td>
                    </tr>
                    <tr class="summary-row">
                        <td colspan="5">Amount Paid</td>
                        <td>
                            <%= number_with_precision(@order.total_amount_paid, precision: 2) %>
                        </td>
                    </tr>
                    <tr class="summary-row">
                        <td colspan="5">Amount Due</td>
                        <td>
                            <%= number_with_precision(@order.total_amount_due, precision: 2) %>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="signature-container">
            <div class="agreement-text">
                Received the above items in good order and conditions
            </div>
            <div class="signature-space pull-right">
                Signature
            </div>
        </div>
    </div>
</div>