<html>
<head>
  
</head>  


<!--<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>-->
<!--  <div class="form-inputs">-->
<!--    <%= f.label :email %><br />-->
<!--    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>-->
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%= f.label :password %><br />-->
<!--    <%= f.password_field :password, autocomplete: "off" %>-->
<!--  </div>-->

<!--  <% if devise_mapping.rememberable? -%>-->
<!--    <div class="field">-->
<!--      <%= f.check_box :remember_me %>-->
<!--      <%= f.label :remember_me %>-->
<!--    </div>-->
<!--  <% end -%>-->

<!--  <div class="actions">-->
<!--    <%= f.submit "Log in" %>-->
<!--  </div>-->
<!--<% end %>-->

<body class = "bg"> 
<div class="border-form-div">
<img src = "https://78.media.tumblr.com/8c48b56225275b3f2b97d60a2a5c1f53/tumblr_p8d78pze6S1w4edkko1_1280.png", class="logo">
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <div class="hi"><%= f.input :email, label: "Email", required: false, autofocus: true %>
    <%= f.input :password, label: "Password", required: false %> 
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %></div>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit, "Log in" %> 
  </div>
<% end %>
<div class="hello">
<%= render "devise/shared/links" %>
</div>
</div>

</body>
</html>
