/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.bg {
  background-image: url("https://78.media.tumblr.com/744c80094a10881a192c570fc8ff1b7a/tumblr_p8d89t8AWh1w4edkko1_1280.png");
  background-size: 1500px 700px;
}

.logo, .logo1 
{
  height: 90px;
  width: 90px;
  margin: 10px 0px;
}

.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: auto;
  text-align: center;
  background-color: transparent;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 14px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
  text-align: center;
}

.hi {
  font-size: 14px;
  text-align: center;
  color: #31708E;
}

.form-actions {
  text-align: center;
  color: #31708E;
  margin-bottom: 20px;
}

.hello {
  font-size: 14px;
  text-align: center;
  text-decoration: underline;
  color: #31708E;
}

.bg1 {
  background-image: url("https://78.media.tumblr.com/d23f74d9e9aa1e0a55523543b7c16244/tumblr_p8f08iGR3o1w4edkko1_1280.png");
  background-size: 1400px 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: white;
}

.time {
  font-size: 100px;
  color: white;
  text-align: center;
  margin-top: 110px;
}

.greeting {
  font-size: 70px;
  color: white;
  text-align: center;
  margin-top: -15px;
}

.adminlogin, .sstafflogin, .istafflogin 
{
  text-align: center;
  color: #FFFFFF;
  background-color: #5085A5;
  border: none;
  padding: 8px 30px;
  border-radius: 8px;
  margin: 10px 0px;
  text-decoration: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.copyright {
  text-align: center;
  color: #FFFFFF;
  font-size: 10px;
}

/*.custbutton
{
  text-align: center;
  color: #FFFFFF;
  background-color: #8FC1E3;
  border: none;
  padding: 8px 30px;
  border-radius: 8px;
  margin: 10px 0px;
  text-decoration: none;
}



.strong
{
  background-color: #fdfdaf;
}*/

.btn
{
  text-align: center;
  color: #FFFFFF;
  background-color: #5085A5;
  border: none;
  padding: 8px 30px;
  border-radius: 8px;
  margin: 10px 0px;
  text-decoration: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.admin_index
{
  display: table;
  margin: 0 auto;
}

.index_buttons_table
{
  padding: 0 20px;
}


.hlogo
{
  height: 50px;
  width: 50px;
  margin: 10px;
}

.header {
    height:70px;
    background:#5085A5;
    color: #FFFFFF;
    width:2000px;
    margin:0px auto;
}

.navbar-link {
  color: white;
}

.border-form-div {
  margin-top: 125px;
}
