.orders-controller {
    &.index-view {
        .filter-form-container {
            margin-bottom: 3rem;
            
            form {
                width: 100%;
                display: flex;
                
                .fields-container {
                    width: 25%;
                }
                .info-container {
                    width: 75%;
                    padding-left: 1rem;
                    position: relative;
                    
                    .filter-text-container {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        
                        .clear-filter-link {
                            margin-left: 0.5rem;
                        }
                    }
                    
                    .orders-info-container {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                    }
                    .orders-done-within-month-text {
                        margin-left: 2rem;
                    }
                }
            }
        }
        
        .action-bar {
            width: 100%;
            position: relative;
            margin-bottom: 3rem;
            
            div {
                display: inline;
            }
            
            .new-order-link-container {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }
        }
    }
}