<td colspan="9">
  <%= form_for object, url: object.new_record? ? products_path : product_path(object),  
    remote: true, html: {class: "form-horizontal"} do |f| %>
    <label>Name:</label>
    <%= f.text_field :name, required: true %> 
    <br>

    <label>Threshold:</label>
    <%= f.text_field :threshold, required: true %> 
    <br>
    
    <label>Base Price:</label>
    <%= f.text_field :base_price, required: true %> 
    <br>
    
    <label>Quantity:</label
    <%= f.text_field :quantity, required: true %> 
    <br>
    
    <%= f.label "Active product?" %> 
    <%= f.check_box :status %> <br />
    
    <br><br>
    <%= f.submit "Save", class: "btn btn-primary" %>
      <button class="btn btn-link cancel">Cancel</button>
  <% end %>
</td>