<% unless smart_listing.empty? %>
  <table id="product" class="table table-striped">
    <thead>
      <th class="col-md-3">
        <%= smart_listing.sortable "Name", "name" %>
      </th>
      <th class="col-md-2">
        <%= "Threshold" %>
      </th>
     
      <th class="col-md-2">
        <%= "Base Price" %>
      </th>
      <th class="col-md-2">
        <%= "Quantity" %>
      </th>
      <th class="col-md-2">
        <%= smart_listing.sortable "Active?", "status" %>
      </th>
      <th class="col-md-1">
      </th>
    </thead>
    <tbody>
      <% smart_listing.collection.each do |o| %>
        <tr class="editable" data-id="<%= o.id %>">
          <%= smart_listing.render object: o, partial: "products/product", locals: {object: o} %>
        </tr>
      <% end %>
      <%= smart_listing.item_new colspan: 9, link: new_product_path %>
    </tbody>
  </table>
  <%= smart_listing.paginate %>
  <%= smart_listing.pagination_per_page_links %>
<% else %>
  <p class="warning">No records!</p>
<% end %>
