<td>
  <%= object.name %>
</td>
<td>
  <%= object.threshold %>
</td>
<td>
  <%= object.base_price %>
</td>
<td>
  <%= object.quantity %>
</td>
<td>
  <%= object.status %>
</td>
<td class="actions">
  <%= smart_listing_item_actions [
      
      { name: :edit, url: edit_product_path(object), icon: "glyphicon glyphicon-pencil", method: :get, remote: true }
    ] %>
</td>