<td colspan="9">
  <%= form_for object, url: object.new_record? ? products_path : product_path(object),  
    remote: true, html: {class: "form-horizontal"} do |f| %>
    <label>Quantity:</label>
    <%= f.text_field :quantity %> 
    <br>

    <br><br>
    <%= f.submit "Save", class: "btn btn-primary" %>
      <button class="btn btn-link cancel">Cancel</button>
  <% end %>
</td>