<div>
    <h1> <center>Products Page</center><br/></h1>
    <%= smart_listing_render(:products) %>
</div>

<!-- 
READ THIS IF YOU GET BACK, VERON:
kulang ng:
- destroy.js.erb
- edit.html.erb
- edit.js.erb
- status_switch.js.erb
- update.js.erb

needs refinement:
- _product.html.erb -- doesnt want to notice the path for switching product status
- bakit yung active/status ay number
- status is a varchar/string -- change to boolean or tinyint in migration
-->